<p id="notice"><%= notice %></p>

<h1>Listing Dynasties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dynasties.each do |dynasty| %>
      <tr>
        <td><%= dynasty.name %></td>
        <td><%= link_to 'Show', dynasty %></td>
        <td><%= link_to 'Edit', edit_dynasty_path(dynasty) %></td>
        <td><%= link_to 'Destroy', dynasty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dynasty', new_dynasty_path %>
<%= link_to "back to dashborad", static_pages_adminhome_path %>
