<h1>Admin dashborad</h1>

<ul>
    <li> <%= link_to "users management", users_path %></li>
    <li> <%= link_to "event management", events_path %></li>
    <li> add admin </li>
    <li> <%= link_to "get report", static_pages_report_path %></li>
    <li> <%= link_to "change point system", point_rules_path %></li>
    <li> <%= link_to "change grouping system", dynasties_path %></li>
</ul>

<%= link_to "home", root_path %>