<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">President: Li Wang <span class="text-muted"></span></h2>
        </div>
        <div class="col-md-5">
          <%=image_tag("president.png", width:"90%")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">External Vice President: Sherry Banditrat <span class="text-muted"></span></h2>       
        </div>
        <div class="col-md-5 col-md-pull-7">
        <%=image_tag("vice president.png", width:"90%")%>        
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Internal Vice President: Chase Noren<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5">
        <%=image_tag("internal vice president.png", width:"90%")%>       
        </div>
      </div>

    <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Treasurer: Flora Du<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5 col-md-pull-7">
        <%=image_tag("Treasurer.png", width:"90%")%>       
        </div>
      </div>
      
       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Secretary: Rachel Chin<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5">
        <%=image_tag("Secretary.png", width:"90%")%>       
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Historians: Sara Matthews & Taylor Chojecki<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5 col-md-pull-7">
        <%=image_tag("Historians.png", width:"90%")%>       
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Public Relation: Naomi McCauley<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5">
        <%=image_tag("Public Relation.png", width:"90%")%>       
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Cultural Chair: Mengying Liu<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5 col-md-pull-7">
        <%=image_tag("Cultural Chair.png", width:"70%")%>       
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Volunteer Chair: Tom Nan<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5">
        <%=image_tag("Volunteer Chair.png", width:"90%")%>       
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Sports Chair: Austin Zen<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5 col-md-pull-7">
        <%=image_tag("Sports Chair.png", width:"90%")%>       
        </div>
      </div>
      
       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Webmaster: Grace Wong<span class="text-muted"></span></h2>
          </div>
        <div class="col-md-5">
        <%=image_tag("Webmaster.png", width:"90%")%>       
        </div>
      </div>
