 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <%= image_tag("p1.png") %>          
            <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to CSA</h1>
              <p>Have you been a member of us?</p>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button">Join us today &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("p2.png") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Register for Big Event 2016</h1>
              <p>Note: Register today for Big Event on April 14 to help the elderly clean and decorate their house!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("p3.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Let's get moving!</h1>
              <p>Note: We are intended to have a sports club for our community. If you are interested in it, do not hesitate to join us!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Register now &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("P4.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Improve your academic performance!</h1>
              <p>We are now having students from different majors, different grades. We have a project for graduates to help lower-grade students to achieve a better grades.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Register Now &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
        <span class="sr-only">Previous</span> 
      </a> 
       
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
        <span class="sr-only">Next</span>  
      </a>  
    </div>  <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("p5.jpg",class:"img-circle",size:"140") %>
          <h2>MISSION</h2>
          <p>We are a family of Chinese students in Texas A&M University. We have different names, appearence, and experiences, but we all have the same faith: 'The love of family and the admiration of friends is much more important than wealth and privilege.</p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("p6.jpg",class:"img-circle",size:"140") %>
          <h2>GOALS</h2>
          <ul align="left">
            <li>To create a welcoming atmosphere for new ones</li>
            <li>To build harmoneous and energetic community </li>
            <li>To serve as a big forum of communication</li>
            <li>To sponsor kinds of events and programs</li>
            <li>To enrich campus life of all students</li>
            </ul>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("p7.jpg",class:"img-circle",size:"140") %>
          <h2>EVENTS</h2>
          <ul align="left">
            <li>Every year, we hold various events like:</li>
            <li>Welcome Party: Enbrace new family members</li>
            <li>Big Event: help others, help selflessly</li>
            <li>Sports Game: Swimming, Skating and so on</li>
            <li>Writing Competition: Improve academic skills</li>
            </ul>

        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->




   
  


