<p id="notice"><%= notice %></p>

<h1>Listing Point Rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @point_rules.each do |point_rule| %>
      <tr>
        <td><%= point_rule.name %></td>
        <td><%= point_rule.score %></td>
        <td><%= link_to 'Show', point_rule %></td>
        <td><%= link_to 'Edit', edit_point_rule_path(point_rule) %></td>
        <td><%= link_to 'Destroy', point_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point rule', new_point_rule_path %>
<%= link_to "back to dashborad", static_pages_adminhome_path %>
