<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @point_rule.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @point_rule.score %>
</p>

<%= link_to 'Edit', edit_point_rule_path(@point_rule) %> |
<%= link_to 'Back', point_rules_path %>
