
<h1>Listing Users</h1>
<form  method="get" id="userform">
<h>Membership</h>
<select name="membership" form="userform">
  <option></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>
<h>Classification</h>
<select name=classification[] form="userform" multiple="multiple">
  <option value="Freshman">Freshman</option>
  <option value="Sophomore">Sophomore</option>
  <option value="Junior">Junior</option>
  <option value="Senior">Senior</option>
  <option value="Graduate">Graduate</option>
  <option value="PhD">PhD</option>
  <option>Cmd for Multi-Choice</option>
</select>
<h>Dynasty</h>
<select name=dynasty[] form="userform" multiple="multiple">
  <option value="Tang">Tang</option>
  <option value="Song">Song</option>
  <option value="Shang">Shang</option>
  <option value="Qing">Qing</option>
  <option>Cmd for Multi-Choice</option>
</select>
<input name=search type="Submit" value="Search">
<input name=reset type="Submit" value="Reset">
</form>
<h2 class="sub-header">Detail</h2>
<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
      <th>Name</th>
      <th>Uin</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Membership</th>
      <th>Shirt</th>
      <th>Classification</th>
      <th>Dynasty</th>
      <th colspan="3"></th>
    </tr>
</thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.uin %></td>
        <td><%= user.tel %></td>
        <td><%= user.email %></td>
        <td><%= user.membership %></td>
        <td><%= user.shirt %></td>
        <td><%= user.classification %></td>
        <td><%= user.dynasty %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to "back to dashborad", static_pages_adminhome_path %>

