<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @user.uin %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @user.membership %>
</p>

<p>
  <strong>Shirt:</strong>
  <%= @user.shirt %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @user.classification %>
</p>

<p>
  <strong>Dynasty:</strong>
  <%= @user.dynasty %>
</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Semester</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.year %></td>
        <td><%= event.semester %></td>
        <td><%= event.category %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path(:search => "search") %>|
<%= link_to "Log out", static_pages_logout_path, method: "delete" %>
