<h1>Listing Events</h1>
<form  method="get" id="eventform">
<h>Category</h>
<!--<<<<<<< HEAD
<select name="category" form="eventform" multiple="multiple">
  <option value="Concession">Concession</option>
  <option value="Service">Service</option>
  <option value="Supporting IMS">Supporting IMs</option>
  <option value="IMs Participant">Service</option>
  <option value="General Meeting">General Meeting</option>
  <option value="Social Service">Social Service</option>
</select>
<h>Year</h>
<select name=year[] form="eventform" multiple="multiple">
  <option value="2014">2014</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
</select>
<h>Semester</h>
<select name=semester[] form="eventform" multiple="multiple">
  <option value="Spring">Spring</option>
  <option value="Fall">Fall</option>
======= -->
<select name="category[]" form="eventform"  multiple="multiple">
  <option value="Concession">Concession</option>
  <option value="Service">Service</option>
  <option value="IMs participant">IMs participant</option>
  <option value="Social event">Social event</option>
  <option value="Supporting IMs">Supporting IMs</option>
  <option value="Service">Service</option>
  <option value="General meeting">General meeting</option>
</select>
<h>Year</h>
<select name=year[] form="eventform" multiple="multiple">
  <option value="2015">2015</option>
  <option value="2016">2016</option>
</select>
<h>Semester</h>
<select name=semester[] form="eventform" multiple="multiple">
  <option value="Fall">Fall</option>
  <option value="Spring">Spring</option>
>>>>>>> upstream/master
</select>
<input name=search type="Submit" value="Search">
<input name=reset type="Submit" value="Reset">
</form>
<h2 class="sub-header">Detail</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Semester</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.year %></td>
        <td><%= event.semester %></td>
        <td><%= event.category %></td>
        <td><%= event.description %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<%= link_to "back to dashborad", static_pages_adminhome_path %>
