<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @event.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @event.semester %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:event, url: event_path) do |f| %>
    
      <%= f.label :name %>
      <%= f.text_field :name  %>
      
      <%= f.label :uin %>
      <%= f.text_field :uin%>

      <%= f.submit "Check In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
